<a href="https://colab.research.google.com/github/skdding3/Code-Practice/blob/main/lambda%EC%97%90%EA%B2%8C_%EB%9E%8C%EB%A9%B0%EB%93%A4%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# lambda 함수 - 한 줄 for문 느낌


*   익명함수
*   단순한 정도 일 때 쓰면 편리함.
*   너무 복잡하면 차라리 for문 사용 권장.
*   elif 사용 불가
*   식1 / if 조건문 / else / 식2
*   (식1 / if 조건문) / else / (식2 / if 조건문) / else / 식3

In [1]:
# 일반적인 함수 만들기 
def sun(x, y):
  return x + y

sun(3,2)

5

In [2]:
# 람다 형식으로 만들기
(lambda x,y:x+y)(3,2)

5

In [6]:
a = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# 나머지가 0이면 str()이고, 그렇지 않으면 일반 x다 ## ex)3의 배수처럼 작용
list(map(lambda x: str(x) if x % 3 == 0 else x, a))

[2, 4, '6', 8, 10, '12', 14, 16, '18', 20]

# map 함수

*   여러개의 데이터를 한 번에 다른 형태롤 변환하기 위해서 사용

*   map의 리턴 값은 map object이므로 list나 tupel같은 다른 타입으로 바꿔서 사용

*   map(함수,리스트)

In [11]:
# map함수와 lambda함수의 혼합
# map object로 출력 되기 때문에 앞에 list
list(map(lambda x:x**4,range(6)))    #x 난수 , range 범위 출력

[0, 1, 16, 81, 256, 625]

In [12]:
# 문자열 int 변환
# 번외 split 함수

a = ["12","34","567","8910"]
a = list(map(int, a))
a

[12, 34, 567, 8910]

In [13]:
# add 1은 -> 함수를 더한다 , target -> 지정

def add_1(n):
      return n + 1

target = [1, 2, 3, 4, 5]

result = map(add_1, target)

print(list(result))

[2, 3, 4, 5, 6]

# filter 함수

* 반복 가능한 객체에서 특정 조건에 맞는 요소만 가져오는데,
  filter에 지정한 함수의 반환값이 True일 때만 해당 요소를 가져옴

In [14]:
# filter는 x > 5, x < 10의 결과가 참인 요소만 가져오고 거짓인 요소는 버림

def f(x):
   return x > 5 and x < 10

a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]

list(filter(f, a))

[8, 7, 9]

In [15]:
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]

list(filter(lambda x: x > 5 and x < 10, a))

[8, 7, 9]

In [16]:
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]

[i for i in a if 5 < i < 10]

[8, 7, 9]

# reduce

* 반복가능한 객체의 각 요소를 지정된 함수로 처리한 뒤, 이전 결과와 누적해서 반환하는 함수
* 파이썬3부터 내장 함수가 아님. functools 모듈에서 가져와야함

In [17]:
# 누적으로 더하기

from functools import reduce

def f(x, y):
  return x + y

a = [1, 2, 3, 4, 5]

reduce(f, a)

15

In [ ]:
# 람다가 좀더 깔끔하고 수월하게 사용가능

a = [1, 2, 3, 4, 5]

reduce(lambda x, y: x + y, a)

15

In [ ]:
a = [1, 2, 3, 4, 5]
x = a[0]
for i in range(len(a) - 1):
  x = x + a[i + 1]

x

15